

/*inherent styling */
body{
	/*max-width: 960px;*/
	background-image: url("images/cityHallBkgrnd.png");
}

main{
	margin:auto;
}


/*main section*/
img{
	width: 80%;
	margin: auto;
	display: block;
	padding-top: 15px;
}

/*row 1,  */

.char {
	background-color: rgba(131, 131, 134, 0.86);
	border: 2px solid #6F6D76;
	margin: 15px;
	padding: 0px;
	width: 22%;
	transition-delay: .25s; /*toss this in for when moving elements*/
}

.char p {
	padding: 0px 10px;
}

.char h3 {
	padding: 0px 10px;
}



/*row 2, wins & attack button & instructions*/
.secondRow{
	background-color: #fff;
	padding: 1%;
	margin: 15px 0px;
}

/*row 3, holds opponents*/

/*row 4, footer & holds reset button*/
.fourthRow button{
	margin: auto;
	display: block;
}



/*addClass for jquery*/
.highlightPlay{
	background-color: rgba(26, 136, 153, 0.84);
	border: 2px solid #025B67;
}

.highlightOpp{
	background-color: rgba(64, 66, 69, 0.82);
	border: 2px solid #5D5f63;
	color: #fff;
}

.defeatedOpp{
	background-color: rgba(156, 48, 62, 0.9);
	border: 2px solid #4E000B;

}